/* stylesheet for style(4)*/

.about{
    background-color:#34344A;
    color:white;
}

.img-fluid{
    width:100%;
    object-fit:cover;
}
.background1{
    background:#383434;
}
.background2{
    background: url("Pictures/cloud5.jpg") fixed;
    background-size:100%;
}
.background3{
    background-color: #1a1a1a;
}
.text{
    color:white;
    padding-left:2em;
    background-color: #1a1a1a;
    height:auto

}
.para1{
    font-size: 2em;
    padding-right:4em;
    padding-left:4em;
}
.personality{
    background:#7d98a1;
    color:white;
}
.career{
    color: white;
    background: #383434;
 }
.mycontainer{
    padding-right:8em;
    padding-left:8em;
}